TELEGRAM_BOT_TOKEN="..."
TELEGRAM_CHANNEL_ID="..."

PPLX_API_KEY="sk-or-v1"
PPLX_MODEL="perplexity/sonar"
PPLX_BASE_URL="https://openrouter.ai/api/v1"

LLM_API_KEY="sk-or-v1"
LLM_MODEL="x-ai/grok-4-fast"
LLM_BASE_URL="https://openrouter.ai/api/v1"

TAVILY_API_KEY="tvly-dev-..."

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="lsv2_pt_..."
LANGSMITH_PROJECT="novostinyaaa"

TG_API_ID=''
TG_API_HASH=''
TG_SESSION_NAME=''